* {
    color: #26180e; 
  }
@font-face {
    font-family: 'Garbata';
    src: url('garbata-regular.ttf') format('truetype');
  }
body {
    background-color: #ffd230;
    font-family: 'Garbata', sans-serif;
    
}

.container button {
    position:absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #26180e;
    color: #ffd230;
    padding: 15px 32px;
    font-family: 'Garbata' ;
}





